[submodule "lowrisc-llvm"]
	path = submodules/lowrisc-llvm
	url = https://github.com/lowRISC/riscv-llvm
[submodule "riscv-fesvr"]
	path = submodules/riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr
[submodule "riscv-isa-sim"]
	path = submodules/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim
[submodule "riscv-pk"]
	path = submodules/riscv-pk
	url = https://github.com/riscv/riscv-pk
[submodule "riscv-qemu-tests"]
	path = submodules/riscv-qemu-tests
	url = https://github.com/arsv/riscv-qemu-tests
[submodule "submodules/riscv-gnu-toolchain"]
	path = submodules/riscv-gnu-toolchain
	url = https://github.com/OpenISA/riscv-gnu-toolchain
	branch = gcc-7.3.0
[submodule "submodules/llvm"]
	path = submodules/llvm
	url = https://github.com/OpenISA/llvm
[submodule "submodules/clang"]
	path = submodules/clang
	url = https://github.com/OpenISA/clang
