*.o
elf
rv32-alu-ops
rv32-alu-ops.out
rv32-branch
rv32-branch.out
rv32-fence
rv32-fence.out
rv32-hello
rv32-hello.out
rv32-load-store
rv32-load-store.out
rv32-m
rv32-m.out
rv32-mm
rv32-mm.out
rv32-mm.s
rv32-system
rv32-system.out
rv32-x86-*
x86-hello
x86-mm
x86-mm.out
x86-mm.s
x86-test-syscall
