*.o
elf
rv32-alu-ops
rv32-alu-ops.out
rv32-branch
rv32-branch.out
rv32-fence
rv32-fence.out
rv32-hello
rv32-load-store
rv32-load-store.out
rv32-m
rv32-m.out
rv32-main
rv32-main.s
rv32-system
rv32-system.out
rv32-x86-*
x86-hello
x86-main
x86-main.s
x86-test-syscall
